<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <script src="vue.js"></script>
</head>
<body>
    <div id="vue" >
        <h1 v-on:click="say()">点我出发</h1>
        <internal_component></internal_component>

        <!--用template包裹多个元素-->
        <template v-if="ok==1">
            <table>
                <tbody>
                    <tr>
                        <td>年龄</td>
                        <td>性别</td>
                        <td>学号</td>
                    </tr>
                </tbody>
            </table>
        </template>
        <template v-else-if="ok===2">
            <p>这里是ok==2里面的内容</p>
        </template>
        <template v-if="ok==3">
            <p>这里是ok==3里面的内容</p>
        </template>
        <h1 v-if="ok">Yes</h1>
        <test></test>
    </div>

    <div id="hello">
        <test></test>
        <simple></simple>
        <simple></simple>
        <simple></simple>
    </div>

    <script>
        //注册的是全局组件
        Vue.component(
            'test',
            {
                template:'<p style="color:red">test component</p>',
            }

        );
        var vue = new Vue({
            el   : '#vue',
            components :{
                'internal_component' : {
                    template : '<p style="color:blueviolet">internal_component</p>',
                },
            },
            data : {
                ok      : 3,
                message :'hello'
            },
            methods:{
                ok  : function(){
                    return false;
                },
                say : function(){
                    alert(1);
                }
            }
        })

//        var data ={
//            counter : 0
//        };

        var vue2 = new Vue({
            el : '#hello',
            components : {
                'simple':{
                    template : '<button v-on:click="{{counter+=1}}">{{counter}}</button>',
                    data     : function(){
                        return {
                            counter : 0,
                        }
                    }
                }
            }
        })
    </script>
</body>
</html>